.navbar-brand img {
	width		 :1.3em;
	float		 :left;
	margin-right : 0.3em;
}
.box.box-solid.box-info>.box-header a.shortcode_url{
	text-decoration: underline;
	color:rgba(255,255,255,0.8);
}

.box-body span
{
	font-weight: bold;
}

.box-body span span.long_url,
.box-body span span.created_on {
	font-size:1.05em;
	color:rgba(0,0,0,0.5);
	font-weight: normal;
}

.box-body div a span.long_url{
	color:rgba(0,0,0,0.5);
	/*font-size:0.9em;*/
	font-weight: normal;
}

.cursor_btn{
	cursor:pointer
}

@media screen and (max-width: 767px)  {
	.fixed .content-wrapper, 
	.fixed .right-side {
	    padding-top: 50px;
	}
}
@media (min-width: 768px){

.login-box.short-code-login, .register-box {
    width: 600px;
    margin: 7% auto;
}

}
.login-logo a {
	color: black;
}
.login-logo a b{
	color: darkslategray;
}